In [19]:
#6
from sklearn.datasets import load_iris
iris = load_iris()

In [20]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [21]:
D = iris.data
T = iris.target

In [22]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(3)
knn.fit(D,T)

KNeighborsClassifier(n_neighbors=3)

In [23]:
print(T)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

In [24]:
P = print(knn.predict(D))
P

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 2 1
 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 1 2 2 2 2
 2 2 2 2 2 2 2 2 1 2 2 2 2 2 2 2 2 2 2 2 2 2 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

In [25]:





#7

from sklearn.model_selection import train_test_split
D_train,D_test,T_train,T_test = train_test_split(D,T,test_size = 0.25)

In [26]:
D_test.shape

(38, 4)

In [27]:
D_train.shape

(112, 4)

In [28]:
T_test.shape

(38,)

In [29]:
T_train.shape

(112,)

In [30]:
KNN = KNeighborsClassifier(3)
KNN.fit(D_train,T_train)

Pr = KNN.predict(D_test)
Pr

array([1, 1, 0, 1, 1, 1, 1, 1, 2, 1, 0, 2, 0, 1, 0, 2, 2, 2, 2, 1, 2, 1,
       2, 0, 2, 0, 1, 0, 2, 2, 2, 1, 0, 2, 1, 0, 2, 1])

In [31]:
T_test

array([1, 1, 0, 1, 2, 1, 1, 1, 2, 1, 0, 2, 0, 1, 0, 2, 2, 2, 2, 1, 2, 1,
       2, 0, 2, 0, 1, 0, 2, 2, 2, 1, 0, 2, 1, 0, 2, 1])

In [32]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [33]:
print(accuracy_score(T_test,Pr))

0.9736842105263158

In [34]:
print(confusion_matrix(T_test,Pr))

[[ 9  0  0]
 [ 0 14  0]
 [ 0  1 14]]

In [35]:



import pandas as pd


#8
from sklearn.datasets import load_diabetes
diab = load_diabetes()

In [36]:
N = diab.feature_names
N

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

In [37]:
d = diab.data

t = diab.target

d.shape

(442, 10)

In [38]:
t.shape

(442,)

In [39]:

D = pd.DataFrame(d,columns = N)

T = pd.DataFrame(t) 

D

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

In [40]:
T

         0
0    151.0
1     75.0
2    141.0
3    206.0
4    135.0
..     ...
437  178.0
438  104.0
439  132.0
440  220.0
441   57.0

[442 rows x 1 columns]

In [41]:
from sklearn import linear_model

reg = linear_model.LinearRegression()

In [42]:

D_train,D_test,T_train,T_test = train_test_split(d,t,test_size = 0.25)

reg.fit(D_train, T_train)

LinearRegression()

In [43]:
#regression prediction

p = reg.predict(D_test)
p.shape

In [44]:
T_test.shape

(111,)

In [48]:
import sklearn
import math

#mse = sklearn.metrics.mean_squared_error(actual, predicted)
mse = sklearn.metrics.mean_squared_error(T_test, p)

#Root Mean Square Error
RMSE = math.sqrt(mse)
RMSE

52.90721389237415

In [46]:
reg.coef_

array([   15.37588082,  -220.55887253,   556.57160413,   279.21403608,
       -1140.76818256,   663.23790408,   290.60868057,   336.10795383,
         830.07966872,    69.76123839])